.navbar-light {
    background: rgb(0, 0, 0, 0.3) !important;
    box-shadow: 1px 1px 2px 0px rgba(59, 59, 59, 0.75);
}

.navbar {
    position: fixed;
    z-index: 3000 !important;
    height: 80px;
    overflow: hidden;
    padding-left: 35px !important;
}

.nav-link {
    display: flex;
    align-items: center;
    color: white !important;
    font-size: medium;
}

.btn-login {
    width: 120px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid #652ee5;
    transition: all 0.3s ease 0s;
}

.btn-login:hover {
    background-color: #652ee5;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
    color: white;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

.nav-item:hover {
    transform: scale(1.1);
    transition: all ease 0.3s;

}

.scrolled {
    background: rgb(0, 0, 0, 0.9) !important;
    backdrop-filter: blur(10px);
}

@media (max-width: 890px) {
    .navbar {
        display: flex !important;
        justify-content: space-between !important;
        padding-left: 20px !important;
    }

    .login {
        display: flex !important;
        flex: 1;
        justify-content: flex-end !important;
        margin-bottom: 0 !important;
    }

    .main-logo img {
        margin-bottom: 0 !important;
    }

    .login button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
}

@media (max-width: 768px) {
    .main-logo {
        color: #fff;
        z-index: 100 !important
    }

    .main-logo img {
        width: 140px
    }
    .navbar ul{
        display: none;
    }
}

@media screen and (max-width: 575px) {

    .navbar {
        display: flex !important;
        justify-content: center !important;
    }

    .navbar-collapse {
        display: none !important;
    }

    .login {
        margin-right: 0px !important;
    }

    .login button {
        width: 100px;
        height: 30px;
        font-size: 12px;
        margin-right: 15px;
        padding-top: 5px;
    }
}

@media screen and (max-width: 375px) {
    .navbar {
        padding-left: 16px !important;
        padding-right: 5px !important;
    }

    .login button {
        width: 75px;
        height: 30px;
        font-size: 9px;
        margin-right: 15px;
        margin-bottom: 10px;
    }
}