.btn-video:hover{
    background: linear-gradient(100deg, #00FFFF, #DA70D6) !important;
    transform: scale(1.1);
}
.btn-video{
    transition: all ease 0.5s;
}
.modal{
    margin-top: 50px;
   
}
.modal-header{
    color: #ffff;
}
.modal-content{
    background-color: #0000 !important;
    width: 800px;
    height: 400px;
}
