
.btn-movies h5 {
    color: #ffffff;
    font-weight: 700;
}

.tilte-movie{
    display: flex;
    justify-content: space-between;
    
}
.list-treading{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 20px;
}
.treading-movie{
    padding-top: 120px;
}

