
.btn-movies h5 {
    color: #ffffff;
    font-weight: 700;
}
.view-more{
    color: #0000FF	;
    font-size: small;
} 
.tilte-movie{
    display: flex;
    justify-content: space-between;
}
.content-movie{
    margin-top: 30px;
}
.list-content{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.hr-element{
    color: #B0C4DE;
    width: 50%;
    margin: 30px auto 30px auto;
}