.carousel_cast {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* object-fit: contain -> hình ảnh giữ tỷ lệ khung hình của nó, nhưng được thay đổi kích thước để phù hợp với kích thước nhất định. */
    object-fit: contain;
    position: relative;
    padding: 10px;
}

.all-cast {
    margin-top: 50px;
    color: #fff;
}

.cast_img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    /* object-fit: cover -> hình ảnh giữ tỷ lệ khung hình của nó và lấp đầy kích thước nhất định. Hình ảnh sẽ được cắt bớt để phù hợp: */
    object-fit: cover;
    cursor: pointer;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    border: 2px solid white;
}

.cast_details {
    color: #fff;
  
}

.cast_img:hover {
    transform: scale(0.96);
}

.cast h6 {
    font-size: 13px;
}

.character {
    color: #888b8d;
}