.vote_class {
    font-size: 12px;
    background-color: #180e3d;
    justify-content: flex-end;
    width: 28px;
    height: 20px;
    padding: 0.2px 0;
    border-radius: 2px;
    position: absolute;
    right: 0;
}

.tag {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.tag.green {
    color: #34cc34;
}

.tag.orange {
    color: orange;
}

.tag.red {
    color: red;
}

.read__more {
    position: absolute;
    left: 35%;
    top: 35%;
    z-index: 1000;
    visibility: hidden;
}

.productMedia {
    display: flex;
    flex-direction: column;
    width: 10%;
    position: relative;
    object-fit: contain;
    cursor: pointer;
    transition: transform 0.5s ease;
}
.productMedia:hover .read__more{
    visibility: visible;
}

.productMedia:hover {
    transform: scale(1.1);
}

.productMedia img {
    max-width: 100%;
    border-radius: 10px;
    object-fit: contain;
}

.play-btn {
    transition: transform 0.5s ease
}

.play-btn:hover {
    transform: scale(0.94);
    color: red !important;
    border: 1px solid red !important;
}

.ProductDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0.5rem;
    position: absolute;
    background-color: rgba(15, 6, 54, 0.1);
    height: 45px;
    width: 100%;
    bottom: 0;

}

.ProductDetails h6 {
    font-size: 14px;
    bottom: 0px;
    left: 0;
    font-weight: 400 !important;
    z-index: 100;
    color: #ffffff;
    line-height: 12px;
    right: 0;
}

@media screen and (max-width: 1024px) {
    .productMedia {
        display: flex;
        flex-direction: column;
        /* width: 110px; */
        width: 18%;
        margin: 15px 5px;
        position: relative;
        cursor: pointer;
        object-fit: contain;
    }

    .ProductDetails h6 {
        font-size: 11px;
        bottom: 0px;
        left: 0;
        z-index: 100;
        right: 0;
    }
}

@media screen and (max-width: 820px) {
    .productMedia {
        /* width: 110px; */
        width: 18%;
        margin: 15px 2px;
    }
}

@media screen and (max-width: 768px) {
    .productMedia {
        /* width: 80px; */
        width: 22%;
        margin: 15px 5px;
    }

    .play-btn {
        border: 2px solid #abb7c4;
        font-size: 2.2rem !important;
    }
}

@media screen and (max-width: 550px) {
    .productMedia {
        /* width: 80px; */
        width: 19%;
        margin: 15px 5px;
    }
}

@media screen and (max-width: 425px) {
    .productMedia {
        width: 31%;
        margin: 15px 2px;
    }
}

@media screen and (max-width: 375px) {
    .productMedia {
        width: 165px;
        margin: 15px 5px;
    }
}

@media screen and (max-width: 370px) {
    .productMedia {
        width: 155px;
        margin: 15px 5px;
    }
}

@media screen and (max-width: 350px) {
    .productMedia {
        width: 145px;
        margin: 15px 5px;
    }
}