
.genres-content{
    display: flex;
    flex-direction: row;
    gap: 15px;
    flex-wrap: wrap;
    border-radius: 1px solid #fff !important;
    padding-left: 10px;
    margin-top: 10px;
    padding-bottom: 10px;
}
.title-genres{
   color: #fff;
   font-size: 22px;
   font-weight: bold;
   padding-left: 10px;
   font-family: sans-serif;
}
.dropdown-menu{
    background-color: #303030;
}
