.nav_main {
    height: 420px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 10;
    margin-bottom: 20px;
}

.nav-info {
    color: #fff;
    position: absolute;
    bottom: 40px;
    z-index: 1000;
    width: 60%;
    padding-left: 40px;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.btn-learn button {
    width: 120px;
    height: 35px;
    background-color: blueviolet;
    color: #fff;
    border-radius: 20px;
    transition: all 0.3s ease 0s;
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid blueviolet;
}

.btn-learn button:hover {
    background-color: #652ee5;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
}

@media screen and (max-width: 1240px) {
    .nav-info h3 {
        font-size: 2rem !important;
    }
}

@media screen and (max-width: 900px) {
    .nav-info {
        width: 90% !important;
        bottom: 20px !important;
    }

    .nav-info h3 {
        font-size: 2rem;
    }

    .nav-info p {
        line-height: 15px;
        font-weight: 300 !important;
    }
}

@media screen and (max-width: 450px) {
    .nav_main {
        width: 100%;
        height: 350px !important;
    }

    .nav-info {
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 50px !important;
    }

    .nav_main::after {
        background-image: linear-gradient(to top,
                rgb(8, 8, 41) 50px,
                rgba(9, 7, 27, 0.4) 50%) !important;
    }

    .nav-info {
        width: 90% !important;
        bottom: 20px !important;
    }

    .nav-info h3 {
        font-size: 1.6rem;
        font-weight: 200;
    }

    .nav-info p {
        display: none;
    }
}