.footer {
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 20px;
    padding-right: 20px;

}

.container-fluid {
    padding-top: 30px;
    background: #131313;
    background-image: url("../../assets/images/footer-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
    background-position: center;
    position: relative;
    margin: auto;

}

.footer-logo img {
    width: 40%;
}

.footer a {
    text-decoration: none;
    color: #abb7c4;
}

.footer ul {
    list-style: none;
}

.link-item a:hover {
    color: blue;
}

.colum-item {
    padding-left: 0px;
}

.footer-email-submit {
    margin-top: 10px;
    background: transparent;
    color: red;
    text-transform: uppercase;
    border: none;
}

.footer-email-submit:hover {
    margin-top: 10px;
    background: transparent;
    color: #CD5C5C;
    text-transform: uppercase;
    border: none;
}

.footer {
    padding-bottom: 20px;
}

@media screen and (max-width: 560px) {
    .footer {
        text-align: center;
    }
    .footer-logo {
        display: flex;
        justify-content: center;
       
    }
}

