.detail-page {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    height: 540px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    gap: 30px;
    width: 100%;
    height: 540px;
    padding-top: 100px;
    color: #fff;
}

.detail-page::after {
    content: "";
    position: absolute;
    height: inherit;
    width: inherit;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right,
            rgb(11, 11, 58) 400px,
            rgba(31, 31, 31, 0.5) 100%);
}

.detail-page .image-poster {
    z-index: 1000;
    height: 420px;
    margin: 50px 0;
    margin-right: 50px;
    margin-left: 300px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
        7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.detail-page-info {
    margin-top: 50px;
    z-index: 1000;
}

.tmdb {
    color: aqua;
}

.vote_ave {
    color: yellow;
}

.genres {
    display: flex;
}

.tagline {
    margin-top: 10px;
    opacity: 0.7;
}

.other_lists ul li {
    list-style: none;
    font-size: small;
    opacity: 0.7;
}

.overview {
    width: 90%;
}

.similar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
}

.similar_title {
    color: #fff;
    font-size: 16px;
    padding-left: 20px;
}
.cast_title{
    color: #fff;
    padding-left: 20px;
   
}
