
.search-term{
    display: flex;
}
@media screen and (max-width: 880px) {
    .search-term {
      width: 80%;
    }
  }
  
  @media screen and (max-width: 560px) {
    .search-term {
      width: 90%;
      padding-right: 0;
    }
  }