.App {
  background-color: black;
  width: 100%;
  height: 100%;
  margin: auto;
  padding-bottom: 30px;
} 

/* @keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
